In [1]:
# importing the requests library
import requests
import pandas as pd
from flatten_json import flatten
import json
Country = ['Toronto', 'Waterloo', 'Mississauga', 'Kitchener',
           'Surrey', 'edmonton', 'nova scotia', 'ottawa']
result = []
for i in range(len(Country)):
    URL = "http://api.openweathermap.org/data/2.5/forecast?q={}&appid=f2ec04587b7eda134ebb18204e69230c".format(
        Country[i])
    print(URL)
    # sending get request and saving the response as response object
    r = requests.get(url=URL)
    result.append(r.json())

with open('result.json','w',encoding='utf-8') as f:
    f.write(json.dumps(result,ensure_ascii=False))
    
with open('result.json','r') as f:
    result = json.loads(f.read())
df_nested_list_one = pd.json_normalize(result, record_path=['list'])
df_nested_list_two = pd.json_normalize(result,record_path=['list','weather'],meta=['city'])

http://api.openweathermap.org/data/2.5/forecast?q=Toronto&appid=f2ec04587b7eda134ebb18204e69230c
http://api.openweathermap.org/data/2.5/forecast?q=Waterloo&appid=f2ec04587b7eda134ebb18204e69230c
http://api.openweathermap.org/data/2.5/forecast?q=Mississauga&appid=f2ec04587b7eda134ebb18204e69230c
http://api.openweathermap.org/data/2.5/forecast?q=Kitchener&appid=f2ec04587b7eda134ebb18204e69230c
http://api.openweathermap.org/data/2.5/forecast?q=Surrey&appid=f2ec04587b7eda134ebb18204e69230c
http://api.openweathermap.org/data/2.5/forecast?q=edmonton&appid=f2ec04587b7eda134ebb18204e69230c
http://api.openweathermap.org/data/2.5/forecast?q=nova scotia&appid=f2ec04587b7eda134ebb18204e69230c
http://api.openweathermap.org/data/2.5/forecast?q=ottawa&appid=f2ec04587b7eda134ebb18204e69230c

In [2]:
df = pd.concat([df_nested_list_one,df_nested_list_two.reindex(df_nested_list_one.index)],axis=1)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   dt               320 non-null    int64
 1   weather          320 non-null    object
 2   visibility       320 non-null    int64
 3   pop              320 non-null    float64
 4   dt_txt           320 non-null    object
 5   main.temp        320 non-null    float64
 6   main.feels_like  320 non-null    float64
 7   main.temp_min    320 non-null    float64
 8   main.temp_max    320 non-null    float64
 9   main.pressure    320 non-null    int64
 10  main.sea_level   320 non-null    int64
 11  main.grnd_level  320 non-null    int64
 12  main.humidity    320 non-null    int64
 13  main.temp_kf     320 non-null    float64
 14  clouds.all       320 non-null    int64
 15  wind.speed       320 non-null    float64
 16  wind.deg         320 non-null    int64
 17  wind.gust        320 non-null    float64
 18  sys.pod          320 non-null    object
 19  rain.3h          82 non-null     float64
 20  id               320 non-null    int64
 21  main             320 non-null    object
 22  description      320 non-null    object
 23  icon             320 non-null    object
 24  city             320 non-null    object
dtypes: float64(9), int64(9), object(7)
memory usage: 62.6+ KB

In [6]:
df = df.filter(["weather","main.temp","main.feels_like","main.temp_min","main.temp_max","main.humidity","wind.speed","wind.deg","main","description","icon","dt_txt","city"])
df

,weather,main.temp,main.feels_like,main.temp_min,main.temp_max,main.humidity,wind.speed,wind.deg,main,description,icon,dt_txt,city
0,"[{'id': 802, 'main': 'Clouds', 'description': ...",303.36,306.18,303.30,303.36,59,4.83,187,Clouds,scattered clouds,03d,2022-08-06 21:00:00,"{'id': 6167865, 'name': 'Toronto', 'coord': {'..."
1,"[{'id': 802, 'main': 'Clouds', 'description': ...",302.07,304.05,301.41,302.07,60,3.92,217,Clouds,scattered clouds,03d,2022-08-07 00:00:00,"{'id': 6167865, 'name': 'Toronto', 'coord': {'..."
2,"[{'id': 803, 'main': 'Clouds', 'description': ...",298.50,298.94,298.50,298.50,71,3.29,211,Clouds,broken clouds,04n,2022-08-07 03:00:00,"{'id': 6167865, 'name': 'Toronto', 'coord': {'..."
3,"[{'id': 803, 'main': 'Clouds', 'description': ...",296.94,297.33,296.94,296.94,75,2.38,220,Clouds,broken clouds,04n,2022-08-07 06:00:00,"{'id': 6167865, 'name': 'Toronto', 'coord': {'..."
4,"[{'id': 802, 'main': 'Clouds', 'description': ...",295.98,296.43,295.98,295.98,81,2.53,235,Clouds,scattered clouds,03n,2022-08-07 09:00:00,"{'id': 6167865, 'name': 'Toronto', 'coord': {'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,"[{'id': 800, 'main': 'Clear', 'description': '...",288.68,288.77,288.68,288.68,95,1.98,248,Clear,clear sky,01n,2022-08-11 06:00:00,"{'id': 6094817, 'name': 'Ottawa', 'coord': {'l..."
316,"[{'id': 500, 'main': 'Rain', 'description': 'l...",287.72,287.63,287.72,287.72,92,2.32,280,Rain,light rain,10n,2022-08-11 09:00:00,"{'id': 6094817, 'name': 'Ottawa', 'coord': {'l..."
317,"[{'id': 802, 'main': 'Clouds', 'description': ...",290.39,290.44,290.39,290.39,87,2.43,287,Clouds,scattered clouds,03d,2022-08-11 12:00:00,"{'id': 6094817, 'name': 'Ottawa', 'coord': {'l..."
318,"[{'id': 804, 'main': 'Clouds', 'description': ...",294.18,294.32,294.18,294.18,76,2.98,340,Clouds,overcast clouds,04d,2022-08-11 15:00:00,"{'id': 6094817, 'name': 'Ottawa', 'coord': {'l..."
319,"[{'id': 500, 'main': 'Rain', 'description': 'l...",295.29,295.31,295.29,295.29,67,2.75,346,Rain,light rain,10d,2022-08-11 18:00:00,"{'id': 6094817, 'name': 'Ottawa', 'coord': {'l..."

In [8]:
df.rename(columns = {'weather':'WEATHER','main.temp':'TEMP','main.feels_like':'FEELS_LIKE','main.temp_min':'TEMP_MIN','main.temp_max':'TEMP_MAX','main.humidity':'HUMIDITY','wind.speed':'WINDSPEED','wind.deg':'WINDDEG','main':'MAIN','description':'DESCRIPTION','icon':'ICON','dt_txt':'DATE','city':'CITY'}, inplace = True)

In [10]:
df

,WEATHER,TEMP,FEELS_LIKE,TEMP_MIN,TEMP_MAX,HUMIDITY,WINDSPEED,WINDDEG,MAIN,DESCRIPTION,ICON,DATE,CITY
0,"[{'id': 802, 'main': 'Clouds', 'description': ...",303.36,306.18,303.30,303.36,59,4.83,187,Clouds,scattered clouds,03d,2022-08-06 21:00:00,"{'id': 6167865, 'name': 'Toronto', 'coord': {'..."
1,"[{'id': 802, 'main': 'Clouds', 'description': ...",302.07,304.05,301.41,302.07,60,3.92,217,Clouds,scattered clouds,03d,2022-08-07 00:00:00,"{'id': 6167865, 'name': 'Toronto', 'coord': {'..."
2,"[{'id': 803, 'main': 'Clouds', 'description': ...",298.50,298.94,298.50,298.50,71,3.29,211,Clouds,broken clouds,04n,2022-08-07 03:00:00,"{'id': 6167865, 'name': 'Toronto', 'coord': {'..."
3,"[{'id': 803, 'main': 'Clouds', 'description': ...",296.94,297.33,296.94,296.94,75,2.38,220,Clouds,broken clouds,04n,2022-08-07 06:00:00,"{'id': 6167865, 'name': 'Toronto', 'coord': {'..."
4,"[{'id': 802, 'main': 'Clouds', 'description': ...",295.98,296.43,295.98,295.98,81,2.53,235,Clouds,scattered clouds,03n,2022-08-07 09:00:00,"{'id': 6167865, 'name': 'Toronto', 'coord': {'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,"[{'id': 800, 'main': 'Clear', 'description': '...",288.68,288.77,288.68,288.68,95,1.98,248,Clear,clear sky,01n,2022-08-11 06:00:00,"{'id': 6094817, 'name': 'Ottawa', 'coord': {'l..."
316,"[{'id': 500, 'main': 'Rain', 'description': 'l...",287.72,287.63,287.72,287.72,92,2.32,280,Rain,light rain,10n,2022-08-11 09:00:00,"{'id': 6094817, 'name': 'Ottawa', 'coord': {'l..."
317,"[{'id': 802, 'main': 'Clouds', 'description': ...",290.39,290.44,290.39,290.39,87,2.43,287,Clouds,scattered clouds,03d,2022-08-11 12:00:00,"{'id': 6094817, 'name': 'Ottawa', 'coord': {'l..."
318,"[{'id': 804, 'main': 'Clouds', 'description': ...",294.18,294.32,294.18,294.18,76,2.98,340,Clouds,overcast clouds,04d,2022-08-11 15:00:00,"{'id': 6094817, 'name': 'Ottawa', 'coord': {'l..."
319,"[{'id': 500, 'main': 'Rain', 'description': 'l...",295.29,295.31,295.29,295.29,67,2.75,346,Rain,light rain,10d,2022-08-11 18:00:00,"{'id': 6094817, 'name': 'Ottawa', 'coord': {'l..."

In [ ]:
!pip install snowflake-connector-python==2.7.9

In [ ]:
import snowflake.connector as snow
from snowflake.connector.pandas_tools import write_pandas

In [ ]:
conn = snow.connect(
user = )